* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.Cabeza {
    padding: 40px;
}

.center a {
    font-weight: bold;
    text-decoration: none;
}

.Contencion {
    margin: 0 auto;
    width: 920px;
}

.Box {
    display: inline-block;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 75px 30px;
    width: 300px;
    height: 200px;

}

.Blue {
    background-color: #008DD2;
}

.Red {
    background-color: #EE433A;
}

.Green {
    background-color: #00C56A;
}