* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana, sans-serif;
}

.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #ffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.664);
}

.logotipo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #4b5563;
    font-weight: 500;
}

.boton-principal {
    background-color: #2563eb;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
}
.blue {
    color: #2563eb;
}
