.contenedor {
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}
.cabeza{
    background-color: #173353;
    color: white;
    padding-top: 25px;
    text-align: center;
}
.container{
    margin-top: 30px;
    background-color: #204875;
    padding: 20px;
}
.btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.parrafo{
    padding: 30px;
}

.principal-container{
    padding: 20px 100px;
}
.box{
    background-color: rgb(255, 255, 255);
    padding:25px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(121, 121, 121);
}
.presentar{
    text-align: center;
    padding: 40px;
    background-color: #204875;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
}
.presentar h2{
    margin-bottom: 25px;
}

.boxs{
    text-align: center;
    display: inline-block;
    background-color: #00A4D4;
    color: white;

    width: 300px;
    height: 170px;

    padding: 15px;
    margin: 15px;
    margin-top: 30px;

    border-radius: 5px;
}
.boxs .tittle{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
